*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* #3a073a */
body{
    height: 100vh;
    background: linear-gradient(to right top, #13064b, #5a012e);
    /* background-color: black; */
    text-align: center;
}

#hey{
    background-color: rgba(255, 255, 255, 0.144);
    /* background-image: url(neon_4.jpg); */
    background-image: url(neon_5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-blend-mode: overlay; */
    z-index: 2;
    backdrop-filter: blur(1rem);
    position: relative;
    background-size: cover;
    color: lavender;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #111;
    font-size: 7vw;
}

#hey img{
    width: 10%;
}

#hey span{
    display: table-cell;
    animation: hey_ani 2.5s linear infinite;
}

#hey span:nth-child(1)
{
    animation-delay: 0s;
}
#hey span:nth-child(2)
{
    animation-delay: 0.25s;
}
#hey span:nth-child(3)
{
    animation-delay: 0.5s;
}
#hey span:nth-child(4)
{
    animation-delay: 0.75s;
}
#hey span:nth-child(5)
{
    animation-delay: 1s;
}
#hey span:nth-child(6)
{
    animation-delay: 1.25s;
}
#hey span:nth-child(7)
{
    animation-delay: 1.5s;
}
#hey span:nth-child(8)
{
    animation-delay: 1.75s;
}
#hey span:nth-child(9)
{
    animation-delay: 2s;
}
#hey span:nth-child(10)
{
    animation-delay: 2.25s;
}
#hey span:nth-child(11)
{
    animation-delay: 2.5s;
}



@keyframes hey_ani {
    0%, 100%{
        color: #fff;
        filter: blur(2.5px);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 60px #00b3ff,
        0 0 80px #00b3ff,
        0 0 100px #00b3ff,
        0 0 150px #00b3ff,
        0 0 180px #00b3ff,
        0 0 200px #00b3ff,
        0 0 220px #00b3ff,
        0 0 250px #00b3ff;

    }

    5%, 95%{
        color: rgba(17, 17, 17, 0.89);
        filter: blur(0px);
        text-shadow:  none;
        
    }
}

#navbar{
    display: flex;
    justify-content: space-around;
    padding:  20px 0px;
    background-color: rgba(255, 255, 255, 0.144);
    position: sticky;
    top: 2px;
    z-index: 2;
    backdrop-filter: blur(2rem);
    /* position: relative; */
    box-shadow: rgba(51, 51, 109, 0.486) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

main{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass{
    background-color: white;
    position: relative;
    top: 10vh;
    height: 70vh;
    width: 80vw;
    background: linear-gradient(to right bottom,  rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    border-radius: 5px;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(51, 51, 109, 0.486) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#circle_1, #circle_2{
    height: 200px;
    width: 200px;
    background-color: white;
    background: linear-gradient(to right bottom, rgb(129, 11, 129, 0.9), rgba(0, 0, 255, 0.7));
    box-shadow: 0px 0px 10px blueviolet;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
}
#circle_1{
     top: 5%;
     right: 5%;
     animation: bubble_right 2s alternate infinite;
}
#circle_2{
    top: 60%;
    left: 5%;
    animation: bubble_left 2s alternate infinite;
}

.main-img{
width: 20%;
height: 150px;
opacity: 0;
filter: grayscale(100%);

}

#main-img1{
    animation: glitch1 5s linear infinite ;
}

#main-img7{
animation: glitch1 5s linear infinite ;
}

#main-img4{
    animation: glitch2 5s linear infinite ;
}
#main-img5{
    animation: glitch2 5s linear infinite ;
}

@keyframes glitch1 {
 
    0%, 10%,  30%, 45%,  70%, 82%, 60%, 99% 
    {
        opacity: 0.9;
    }
    20%,60%, 90%
    {
        opacity: 0.9;
        filter:grayscale(0%)
    }

    0.5%, 10.1%, 20.2%, 30.1%, 45.1%, 60.3%, 70.1%, 82.1%, 90.2%, 99.1%, 100%{
       opacity: 0;
    }
    
}

@keyframes glitch2 {
    0%, 15%,  50%, 80%, 90%
    {
        opacity: 0.6;
    }
    30%, 65%, 92%
    {
        opacity: 0.6;
        filter: grayscale(0%);
    }


    15.1%, 30.1%, 50%, 65.3%, 80.1%, 90%, 92.1%, 100%{
       opacity: 0;
    }
}


@keyframes bubble_right{
    0%{
        top: 5%;
        right: 15%;
    }

    50%{
        top: 30%;
        right: 0%;
    }

    100%{
        top: 15%;
        right:15% ;
    }
}

@keyframes bubble_left {
    0%{
        top: 60%;
        left: 35%;
    }

    50%{
        top: 55%;
        left: 0%;
    }

    100%{
        top: 50%;
        left: 5%;
    }
}

.glass #innerve-name{
    width: 100rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    letter-spacing: 20px;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.7em;
    animation: text 5s linear infinite;
}

@keyframes text {
    0%, 15%, 30%, 50%, 65%, 80%, 90%, 92%
    {
        color: #0e3742;
        box-shadow: none;
    }

    15.1%, 30.1%, 50%, 65.3%, 80.1%, 90%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

#pictures{
    /* width: 100vw; */
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleIndicators{
    display: flex;
    /* margin-top: 10vw; */
    justify-content: center;
    background: linear-gradient(to right bottom,  rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    box-shadow: rgba(51, 51, 109, 0.486) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
    width: 80vw;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.carousel-indicators{
    margin: 0px;
}
.carousel-inner{
    margin-top: 5vw;
    height: 40vw;
    width: 50vw;
}

#contact{
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    margin-top: 5vw;
}

#contact_contain{
    margin-top: 100px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right bottom,  rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    box-shadow: rgba(51, 51, 109, 0.486) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
    width: 80vw;
    z-index: 2;
    backdrop-filter: blur(2rem);
}
#details{
    font-weight: lighter;
    color: ivory;
    font-family: 'Source Sans Pro', sans-serif;
}

#contact h4 img{
    width: 30px;
}

footer{
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7vw;
    align-items: center;
    color: whitesmoke;
    background: linear-gradient(to right bottom,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    box-shadow: rgba(51, 51, 109, 0.486) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
    z-index: 2;
    backdrop-filter: blur(2rem);
    position: relative;
}

footer p{
    font-size: 0.7rem;
}


@media screen and (max-width: 800px) {
    #navbar{
        flex-direction: column;
        padding: 40px 0px;
    }
    #navbar a{
        padding: 10px 0px;
    }
    #hey{
        font-size: 15vw;
    }
    #circle_1, #circle_2{
        width: 100px;
        height: 100px;
    }
    .glass #innerve-name{
        width: 100%;
        font-size: 10vw;
    }    
    .main-img{
        display: none;
    }
    #contact_contain{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        }
}

@media screen and (max-width: 600px){
    .glass, #carouselExampleIndicators{
        width: 85vw;
    }
    #contact_contain{
        width: 85vw;

    }
    .glass #innerve-name{
        width: 100%;
        font-size: 12vw;
        letter-spacing: 6px;
    }    
    .main-img{
        display: none;
    }

}
@media screen and (max-width: 430px) 
{
    #contact_contain img{
        width: 80vw;
    }
}